* {
    outline: 1px solid white;
}

header h1 {
    padding: 20px;
    border-bottom: 5px solid blue;
    font-size: 20px;
    color: rgb(13, 13, 180);
}

.top h1 {
    text-align: center;
    padding: 30px;
    color: rgb(13, 13, 180);
    font-size: 30px;
}


.hero h1 {
    text-align: center;
    padding: 30px;
    color: rgb(13, 13, 180);
    font-size: 25px;
}




.content h1 {
    text-align: center;
    padding: 30px;
    color: rgb(13, 13, 180);
    font-size: 25px;
}
